title: Materialize Examples
colors:
- red
- pink
- purple
- deep-purple
- indigo
- blue
- light-blue
- cyan
- teal
- green
- light-green
- lime
- yellow
- amber
- orange
- deep-orange
- brown
- grey
- blue-grey
- black
===

extends base.html

block extrahead
  link(rel='stylesheet', href='styles.css')

h3 Colors

div.row
  each color in colors
    div(class='col s12 m4 l3')
      - classes = ['color', 'center', color]
      if color in ('black', 'indigo', 'purple', 'deep-purple', 'brown')
        - classes.append('white-text')
      div(class=classes)= color
