title: Stylus Examples
===
extends base.html

block extrahead
  link(rel='stylesheet', href='styles.css')


p It's #[span.highlight great fun] to make websites!

.declarations
  p.tip Tip: Don't go chasing waterfalls
  p.warning Warning: Angry dog on premises
  p.info Brass is a metal alloy of copper and zinc
