.declarations {
  .warning {
    background-color: lightcoral
  }
  .info {
    background-color: lavender
  }
  .tip {
    background-color: palegreen
  }
}

span.highlight {
  background-color: lemonchiffon
}
