<%namespace file='helper.html' name='helper' />\
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
<meta http-equiv='x-ua-compatible' content='ie=edge'>
<title>${title}</title>
<!-- stylesheets -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel='stylesheet' href='${site}css/main.css'>
<%block name='extrahead'></%block>
</head>
<body>
<!-- content -->
<header>
  <nav>
    <div class='nav-wrapper container'>
      <a class='brand-logo' href='${site}'>Static Site Boilerplate</a>
      <a class='button-collapse' href='#' data-activates='mobile-nav-links'>
        <i class='material-icons'>menu</i>
      </a>
      <%helper:menu slug='${slug}'>
        Jade: jade-examples/
        Stylus: stylus-examples/
        Materialize: materialize-examples/
        Markdown: markdown/
        ReST: rest/
      </%helper:menu>
    </div>
  </nav>
</header>

<main class='container'>
  <h1>${title}</h1>
  ${next.body()}
</main>

<footer class='page-footer'>
  <div class='container white-text'>
    Content licensed under <a class='red-text text-lighten-4' href='http://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution 4.0</a>.
  </div>
</footer>

<!-- scripts -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
<script src='${site}js/main.js'></script>
</body>
</html>
