<%namespace file="helper.html" import="menu" />\
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>${self.attr.title}</title>
<link rel="stylesheet" href="${site}css/semantic.min.css">
<link rel="stylesheet" href="${site}css/main.css">
</head>
<body>

<div class="ui main text container">
  ${menu(slug, ['Home', 'About', 'Resume'])}
  <h1>${self.attr.title}</h1>
  ${next.body()}
</div>

<script src="${site}js/semantic.min.js"></script>
</body>
</html>
