
<%def name="menu(slug)">
  <%
    body = capture(caller.body).strip()
    pairs = [line.split(':') for line in body.splitlines()]
    pairs = [(p[0].strip(), p[1].strip()) for p in pairs]
  %>
  <ul class='right hide-on-med-and-down'>
  % for title, link in pairs:
    <li>
      <a href='${site}${link}'>${title}</a>
    </li>
  % endfor
  </ul>
  <ul class='side-nav' id='mobile-nav-links'>
  % for title, link in pairs:
    <li>
      <a href='${site}${link}'>${title}</a>
    </li>
  % endfor
  </ul>
</%def>
