title: Jade Examples
greeting: Salutations
guest_name: Lionel S. Bartolo

===
h2 Whoa, great!

p This example was made with #[a(href='http://jade-lang.com') Jade]!

p #{greeting}, #{guest_name}! Please make yourself at home! 
